$global-font: Raleway, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$global-color: #555555;
$global-color-special: #777777;
$global-color-selected: #7889f5;
$global-color-hover: #aaaaaa;
$global-color-hover-icons: #7889f5;

$menu-inner-space: 20px;
$menu-height: 70px;
$menu-background-color: white;
$folded-menu-right-space: 40px;

$h-size: 27px;
$h-size-small: 20px;
$text-size: 16px;
$text-size-small: 15px;

$content-inner-space: 20%;

$h-margin-bottom: 20px;
$text-margin-bottom: 20px;
$lists-margin-bottom: 10px;

@font-face {
    font-family: Raleway;
    src: url("../../fonts/Raleway-VariableFont_wght.ttf") format("opentype");
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: $global-font;
    color: $global-color;
}

a:hover {
    text-decoration: none;
}

ul {
    list-style: none;
}

h1 {
    margin-bottom: $h-margin-bottom;
    font-size: $h-size;
    text-transform: uppercase;

    @media screen and (max-width: 1440px) {
	font-size: $h-size-small;
    }
}

p {
    margin-bottom: $text-margin-bottom;
}

#main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#menu-wrapper {
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: $menu-inner-space / 2;
    background-color: $menu-background-color;
    box-sizing: border-box;
    z-index: 1;
    box-shadow: 0px -7px 10px black;

    #menu {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	height: $menu-height - $menu-inner-space;
	width: 100%;

	#menu-name {
	    margin-left: 10%;
	    font-size: $h-size;
	    font-weight: bold;
	    text-transform: uppercase;

	    a {
		text-decoration: none;
	    }

	    @media screen and (max-width: 1440px) {
		margin-left: 10px;
		font-size: $h-size-small;
	    }
	}

	#menu-name:hover {
	    color: $global-color-hover;
	}

	#menu-links {
	    display: block;
	    font-size: $h-size;

	    @media screen and (max-width: 1024px) {
		display: none;
	    }

	    @media screen and (max-width: 1440px) {
		font-size: $h-size-small;
	    }

	    ul {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		background-color: $menu-background-color;
	    }

	    li {
		margin-right: 40px;
		text-transform: uppercase;

		.selected {
		    color: $global-color-selected;
		}

		a {
		    text-decoration: none;
		}

		a:hover {
		    color: $global-color-hover;
		}

		.fa-search {
		    font-size: x-large;
		    color: $global-color-special;

		    @media screen and (max-width: 1440px) {
			font-size: 19px;
		    }
		}

		.fa-search:hover {
		    color: $global-color-hover;
		}
	    }
	}

	#menu-social-network {
	    display: flex;
	    flex-direction: row;
	    justify-content: flex-end;
	    margin-right: 40px;
	    font-size: 30px;

	    .ai-google-scholar {
		margin-top: 1px;
		font-size: 33px;
	    }

	    ul {
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
	    }

	    li {
		margin-left: 10px;
	    }

	    @-webkit-keyframes clickbait { from { transform: rotate(-7deg); } to { transform: rotate(7deg); } }
	    @keyframes clickbait { from { transform: rotate(-7deg); } to { transform: rotate(7deg); } }

	    a {
		text-decoration: none;
		animation: 0.1s ease-in infinite alternate clickbait;
	    }

	    a:hover {
		color: $global-color-hover-icons;
	    }
	}
    }

    #burger {
	display: none;
	height: $menu-height - $menu-inner-space;
	margin-right: $folded-menu-right-space;

	@media screen and (max-width: 1024px) {
	    display: flex;
	    flex-direction: column;
	    justify-content: center;
	}

	i {
	    color: $global-color;
	}

	i:hover {
	    color: $global-color-hover;
	}
    }
}

@media screen and (min-width: 1024px) {
    .mobile {
	display: none;
    }
}

@media screen and (max-width: 1024px) {
    .desktop {
	display: none;
    }

    #menu-wrapper.unfolded {
	flex-direction: column-reverse;
	justify-content: flex-start;
	align-items: flex-end;

	#menu {
	    flex-direction: column;
	    justify-content: flex-start;
	    align-items: flex-end;
	    height: 100%;
	    width: auto;
	    margin-right: $folded-menu-right-space;

	    #menu-name {
		margin-left: 0px;
	    }

	    #menu-links {
		display: block;
		margin-bottom: 20px;

		ul {
		    flex-direction: column;
		    justify-content: flex-start;
		    align-items: flex-end;

		    li {
			text-align: end;
			margin-right: 0px;
			margin-top: 10px;
		    }
		}
	    }

	    #menu-social-network {
		margin-right: 0px;
	    }
	}
    }
}

#content {
    margin-top: $menu-height;
    font-size: $text-size;
    box-sizing: border-box;
    padding: 50px $content-inner-space 50px $content-inner-space;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    @media screen and (max-width: 1440px) {
	padding: 50px 5% 50px 5%;
	font-size: $text-size-small;
    }

    li {
	margin-bottom: $lists-margin-bottom;
    }
}
