---
---

@import 'base';

#landingpage {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;

    #myself {
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 100%;

	@media screen and (max-width: 880px) {
	    flex-direction: column;
	}

	#myself-side {
	    display: flex;
	    flex-direction: column;
	    justify-content: flex-start;
	    align-items: center;

	    #myself-side-photo-wrapper {
		height: 376px;
		width: 300px;
		overflow: hidden;
		border-radius: 20px;

		#myself-side-photo {
		    margin-top: -23px;
		    width: 300px;
		}
	    }

	    #myself-side-data {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;

		#myself-side-social-mail {
		    margin-top: 20px;
		}

		#myself-side-address {
		    margin-top: 20px;
		    display: flex;
		    flex-direction: column;
		    justify-content: flex-start;
		    align-items: center;
		    width: 100%;
		}
	    }
	}

	#myself-content {
	    margin-left: 50px;
	    padding-left: 20px;

	    @media screen and (max-width: 880px) {
		margin-left: 0;
		padding-left: 0;
	    }
	}
    }
}
