<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"/> 
    <title>{{ page.title }}</title>
    <link rel="shortcut icon" href="img/logo.svg" />
    <link href="/fonts/fontawesome/css/all.css" rel="stylesheet">
    <link href="/fonts/academicons/css/academicons.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ page.style }}">
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
  </head>
  <body>
    <div id="main">
      {% include menu.html %}
      <div id="content">
	{{ content }}
      </div>
    </div>
    <script src="/assets/js/main.js"></script>
  </body>
</html>
